<!-- Side navigation -->
<aside class="sidenav">
    <ul>
        <li><a href="#">Favourites</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Your order</a></li>
    </ul>

</aside>

