@model IEnumerable<MVCAppAssignment.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

@if (!Model.Any())
{
<text>we dont have any customers any</text> 
}
else
{
<table class=" table table-border table-hover ">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>ProductRate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
           <tr>
             <td>@c.Product_Id</td>
             <td>@Html.ActionLink(c.Product_Name, "Deatils", "Products", new { id = c.Product_Id }, null)</td>
             <td>@c.Rate</td>
           </tr>
        }
</table>
}



